In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2022-01-08 22:10:37,19.7297,-155.0900,26.85,69,20,4.63
1,1,Busselton,AU,2022-01-08 22:10:40,-33.6500,115.3333,15.02,61,16,5.95
2,2,Leh,IN,2022-01-08 22:10:40,34.1667,77.5833,-12.11,78,98,2.59
3,3,Rikitea,PF,2022-01-08 22:10:40,-23.1203,-134.9692,25.49,78,100,9.14
4,4,Jamestown,US,2022-01-08 22:09:46,42.0970,-79.2353,-1.10,35,0,3.13

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [9]:
city_data_df["Max Temp (Kelvin)"] = city_data_df["Max Temp"] + 273.15
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Max Temp (Kelvin)
0,0,Hilo,US,2022-01-08 22:10:37,19.7297,-155.0900,26.85,69,20,4.63,300.00
1,1,Busselton,AU,2022-01-08 22:10:40,-33.6500,115.3333,15.02,61,16,5.95,288.17
2,2,Leh,IN,2022-01-08 22:10:40,34.1667,77.5833,-12.11,78,98,2.59,261.04
3,3,Rikitea,PF,2022-01-08 22:10:40,-23.1203,-134.9692,25.49,78,100,9.14,298.64
4,4,Jamestown,US,2022-01-08 22:09:46,42.0970,-79.2353,-1.10,35,0,3.13,272.05

In [10]:
city_data_df["Max Temp (Kelvin)"].min()

231.11999999999998

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [22]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp (Kelvin)"]
# Assign the figure variable.
fig = gmaps.figure(center=(30, 31), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))