In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2022-01-08 22:10:37,19.7297,-155.0900,26.85,69,20,4.63
1,1,Busselton,AU,2022-01-08 22:10:40,-33.6500,115.3333,15.02,61,16,5.95
2,2,Leh,IN,2022-01-08 22:10:40,34.1667,77.5833,-12.11,78,98,2.59
3,3,Rikitea,PF,2022-01-08 22:10:40,-23.1203,-134.9692,25.49,78,100,9.14
4,4,Jamestown,US,2022-01-08 22:09:46,42.0970,-79.2353,-1.10,35,0,3.13

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
city_data_df["Max Temp (Kelvin)"] = city_data_df["Max Temp"] + 273.15
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Max Temp (Kelvin)
0,0,Hilo,US,2022-01-08 22:10:37,19.7297,-155.0900,26.85,69,20,4.63,300.00
1,1,Busselton,AU,2022-01-08 22:10:40,-33.6500,115.3333,15.02,61,16,5.95,288.17
2,2,Leh,IN,2022-01-08 22:10:40,34.1667,77.5833,-12.11,78,98,2.59,261.04
3,3,Rikitea,PF,2022-01-08 22:10:40,-23.1203,-134.9692,25.49,78,100,9.14,298.64
4,4,Jamestown,US,2022-01-08 22:09:46,42.0970,-79.2353,-1.10,35,0,3.13,272.05

In [5]:
city_data_df["Max Temp (Kelvin)"].min()

231.11999999999998

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp (Kelvin)"]
# Assign the figure variable.
fig = gmaps.figure(center=(30, 31), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed)
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 20
What is the maximum temperature you would like for your trip? 30

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Max Temp (Kelvin)
0,0,Hilo,US,2022-01-08 22:10:37,19.7297,-155.0900,26.85,69,20,4.63,300.00
3,3,Rikitea,PF,2022-01-08 22:10:40,-23.1203,-134.9692,25.49,78,100,9.14,298.64
5,5,Japura,ID,2022-01-08 22:10:41,-0.3167,102.3500,22.98,99,93,0.61,296.13
6,6,Palu,ID,2022-01-08 22:10:41,-0.8917,119.8707,23.55,86,100,0.83,296.70
8,8,Cape Town,ZA,2022-01-08 22:10:42,-33.9258,18.4232,26.26,65,0,1.53,299.41
14,14,East London,ZA,2022-01-08 22:10:44,-33.0153,27.9116,22.63,91,67,8.03,295.78
18,18,Diego De Almagro,CL,2022-01-08 22:10:45,-26.3667,-70.0500,25.14,21,11,4.68,298.29
19,19,Watsa,CD,2022-01-08 22:10:46,3.0372,29.5355,22.69,41,80,0.08,295.84
23,23,Atuona,PF,2022-01-08 22:10:47,-9.8000,-139.0333,25.86,77,17,8.86,299.01
27,27,Puerto Ayora,EC,2022-01-08 22:10:49,-0.7393,-90.3518,28.98,81,97,4.09,302.13

In [13]:
preferred_cities_df.count()

City_ID              230
City                 230
Country              229
Date                 230
Lat                  230
Lng                  230
Max Temp             230
Humidity             230
Cloudiness           230
Wind Speed           230
Max Temp (Kelvin)    230
dtype: int64

In [14]:
preferred_cities_df[preferred_cities_df['Country'].isna()]

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Max Temp (Kelvin)
464,464,Rehoboth,NaN,2022-01-08 22:23:34,-23.3167,17.0833,23.0,50,97,4.14,296.15

In [15]:
# I looked up the City and found the country, Namibia
# Filled in ISO 3166 2-digit country code, which is "NA"
preferred_cities_df.loc[464, 'Country'] = 'NA'

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [16]:
preferred_cities_df.loc[464, 'Country']

'NA'

In [17]:
preferred_cities_df.count()

City_ID              230
City                 230
Country              230
Date                 230
Lat                  230
Lng                  230
Max Temp             230
Humidity             230
Cloudiness           230
Wind Speed           230
Max Temp (Kelvin)    230
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
0               Hilo      US     26.85  19.7297 -155.0900
3            Rikitea      PF     25.49 -23.1203 -134.9692
5             Japura      ID     22.98  -0.3167  102.3500
6               Palu      ID     23.55  -0.8917  119.8707
8          Cape Town      ZA     26.26 -33.9258   18.4232
14       East London      ZA     22.63 -33.0153   27.9116
18  Diego De Almagro      CL     25.14 -26.3667  -70.0500
19             Watsa      CD     22.69   3.0372   29.5355
23            Atuona      PF     25.86  -9.8000 -139.0333
27      Puerto Ayora      EC     28.98  -0.7393  -90.3518

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.count()

City          230
Country       230
Max Temp      230
Lat           230
Lng           230
Hotel Name    230
dtype: int64

In [22]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hilo,US,26.85,19.7297,-155.0900,Hilo Hawaiian Hotel
3,Rikitea,PF,25.49,-23.1203,-134.9692,People ThankYou
5,Japura,ID,22.98,-0.3167,102.3500,Rumah mbah Jamah
6,Palu,ID,23.55,-0.8917,119.8707,Hotel Santika Palu
8,Cape Town,ZA,26.26,-33.9258,18.4232,Southern Sun Waterfront Cape Town
...,...,...,...,...,...,...
560,Brownwood,US,23.62,31.7093,-98.9912,La Quinta Inn & Suites by Wyndham Brownwood
561,Soto La Marina,MX,28.21,23.7667,-98.2167,Hotel Chicago
565,Huarmey,PE,23.44,-10.0681,-78.1522,Hotel Miramar
567,Beloha,MG,23.86,-25.1667,45.0500,
568,Vicksburg,US,21.82,32.3526,-90.8779,La Quinta Inn & Suites by Wyndham Vicksburg

In [23]:
# Filter the dataset to remove blanks
hotel_df = hotel_df.loc[(hotel_df["Hotel Name"] != "")]
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Hilo,US,26.85,19.7297,-155.0900,Hilo Hawaiian Hotel
3,Rikitea,PF,25.49,-23.1203,-134.9692,People ThankYou
5,Japura,ID,22.98,-0.3167,102.3500,Rumah mbah Jamah
6,Palu,ID,23.55,-0.8917,119.8707,Hotel Santika Palu
8,Cape Town,ZA,26.26,-33.9258,18.4232,Southern Sun Waterfront Cape Town
...,...,...,...,...,...,...
558,Comodoro Rivadavia,AR,22.92,-45.8667,-67.5000,Austral Hotel
560,Brownwood,US,23.62,31.7093,-98.9912,La Quinta Inn & Suites by Wyndham Brownwood
561,Soto La Marina,MX,28.21,23.7667,-98.2167,Hotel Chicago
565,Huarmey,PE,23.44,-10.0681,-78.1522,Hotel Miramar
568,Vicksburg,US,21.82,32.3526,-90.8779,La Quinta Inn & Suites by Wyndham Vicksburg

In [24]:
hotel_df.count()

City          215
Country       215
Max Temp      215
Lat           215
Lng           215
Hotel Name    215
dtype: int64

In [25]:
hotel_df["Max Temp (Kelvin)"] = hotel_df["Max Temp"] + 273.15

/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
hotel_df.count()

City                 215
Country              215
Max Temp             215
Lat                  215
Lng                  215
Hotel Name           215
Max Temp (Kelvin)    215
dtype: int64

In [27]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp (Kelvin)"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
country_dict = pd.read_csv('country_dict.csv', header=0, index_col=0, squeeze=True).to_dict()
print(country_dict)

{'AF': 'Afghanistan', 'AX': 'Åland Islands', 'AL': 'Albania', 'DZ': 'Algeria', 'AS': 'American Samoa', 'AD': 'Andorra', 'AO': 'Angola', 'AI': 'Anguilla', 'AQ': 'Antarctica ', 'AG': 'Antigua and Barbuda', 'AR': 'Argentina', 'AM': 'Armenia', 'AW': 'Aruba', 'AU': 'Australia ', 'AT': 'Austria', 'AZ': 'Azerbaijan', 'BS': 'Bahamas ', 'BH': 'Bahrain', 'BD': 'Bangladesh', 'BB': 'Barbados', 'BY': 'Belarus', 'BE': 'Belgium', 'BZ': 'Belize', 'BJ': 'Benin', 'BM': 'Bermuda', 'BT': 'Bhutan', 'BO': 'Bolivia', 'BQ': 'Bonaire, Sint Eustatius and Saba', 'BA': 'Bosnia and Herzegovina', 'BW': 'Botswana', 'BV': 'Bouvet Island', 'BR': 'Brazil', 'IO': 'British Indian Ocean Territory', 'BN': 'Brunei Darussalam ', 'BG': 'Bulgaria', 'BF': 'Burkina Faso', 'BI': 'Burundi', 'CV': 'Cabo Verde ', 'KH': 'Cambodia', 'CM': 'Cameroon', 'CA': 'Canada', 'KY': 'Cayman Islands ', 'CF': 'Central African Republic ', 'TD': 'Chad', 'CL': 'Chile', 'CN': 'China', 'CX': 'Christmas Island', 'CC': 'Cocos (Keeling) Islands ', 'CO': 'Colombia', 'KM': 'Comoros ', 'CD': 'Democratic Republic of the Congo', 'CG': 'Republic of the Congo', 'CK': 'Cook Islands ', 'CR': 'Costa Rica', 'CI': "Côte d'Ivoire ", 'HR': 'Croatia', 'CU': 'Cuba', 'CW': 'Curaçao', 'CY': 'Cyprus', 'CZ': 'Czechia ', 'DK': 'Denmark', 'DJ': 'Djibouti', 'DM': 'Dominica', 'DO': 'Dominican Republic ', 'EC': 'Ecuador', 'EG': 'Egypt', 'SV': 'El Salvador', 'GQ': 'Equatorial Guinea', 'ER': 'Eritrea', 'EE': 'Estonia', 'SZ': 'Eswatini ', 'ET': 'Ethiopia', 'FK': 'Falkland Islands  ', 'FO': 'Faroe Islands ', 'FJ': 'Fiji', 'FI': 'Finland', 'FR': 'France ', 'GF': 'French Guiana', 'PF': 'French Polynesia', 'TF': 'French Southern and Antarctic Lands', 'GA': 'Gabon', 'GM': 'Gambia ', 'GE': 'Georgia', 'DE': 'Germany', 'GH': 'Ghana', 'GI': 'Gibraltar', 'GR': 'Greece', 'GL': 'Greenland', 'GD': 'Grenada', 'GP': 'Guadeloupe', 'GU': 'Guam', 'GT': 'Guatemala', 'GG': 'Guernsey', 'GN': 'Guinea', 'GW': 'Guinea-Bissau', 'GY': 'Guyana', 'HT': 'Haiti', 'HM': 'Heard Island and McDonald Islands', 'VA': 'Holy See  ', 'HN': 'Honduras', 'HK': 'Hong Kong', 'HU': 'Hungary', 'IS': 'Iceland', 'IN': 'India', 'ID': 'Indonesia', 'IR': 'Iran', 'IQ': 'Iraq', 'IE': 'Ireland', 'IM': 'Isle of Man', 'IL': 'Israel', 'IT': 'Italy', 'JM': 'Jamaica', 'JP': 'Japan', 'JE': 'Jersey', 'JO': 'Jordan', 'KZ': 'Kazakhstan', 'KE': 'Kenya', 'KI': 'Kiribati', 'KP': 'North Korea', 'KR': 'South Korea', 'KW': 'Kuwait', 'KG': 'Kyrgyzstan', 'LA': 'Laos', 'LV': 'Latvia', 'LB': 'Lebanon', 'LS': 'Lesotho', 'LR': 'Liberia', 'LY': 'Libya', 'LI': 'Liechtenstein', 'LT': 'Lithuania', 'LU': 'Luxembourg', 'MO': 'Macao ', 'MK': 'North Macedonia ', 'MG': 'Madagascar', 'MW': 'Malawi', 'MY': 'Malaysia', 'MV': 'Maldives', 'ML': 'Mali', 'MT': 'Malta', 'MH': 'Marshall Islands ', 'MQ': 'Martinique', 'MR': 'Mauritania', 'MU': 'Mauritius', 'YT': 'Mayotte', 'MX': 'Mexico', 'FM': 'Micronesia', 'MD': 'Moldova', 'MC': 'Monaco', 'MN': 'Mongolia', 'ME': 'Montenegro', 'MS': 'Montserrat', 'MA': 'Morocco', 'MZ': 'Mozambique', 'MM': 'Myanmar ', nan: 'Namibia', 'NR': 'Nauru', 'NP': 'Nepal', 'NL': 'Netherlands ', 'NC': 'New Caledonia', 'NZ': 'New Zealand', 'NI': 'Nicaragua', 'NE': 'Niger ', 'NG': 'Nigeria', 'NU': 'Niue', 'NF': 'Norfolk Island', 'MP': 'Northern Mariana Islands ', 'NO': 'Norway', 'OM': 'Oman', 'PK': 'Pakistan', 'PW': 'Palau', 'PS': 'Palestine', 'PA': 'Panama', 'PG': 'Papua New Guinea', 'PY': 'Paraguay', 'PE': 'Peru', 'PH': 'Philippines ', 'PN': 'Pitcairn ', 'PL': 'Poland', 'PT': 'Portugal', 'PR': 'Puerto Rico', 'QA': 'Qatar', 'RE': 'Réunion', 'RO': 'Romania', 'RU': 'Russia', 'RW': 'Rwanda', 'BL': 'Saint Barthélemy', 'SH': 'Saint Helena, Ascension and Tristan da Cunha', 'KN': 'Saint Kitts and Nevis', 'LC': 'Saint Lucia', 'MF': 'Saint Martin', 'PM': 'Saint Pierre and Miquelon', 'VC': 'Saint Vincent and the Grenadines', 'WS': 'Samoa', 'SM': 'San Marino', 'ST': 'Sao Tome and Principe', 'SA': 'Saudi Arabia', 'SN': 'Senegal', 'RS': 'Serbia', 'SC': 'Seychelles', 'SL': 'Sierra Leone', 'SG': 'Singapore', 'SX': 'Sint Maarten', 'SK': 'Slovakia', 'SI': 'Slovenia', 'SB': 'Solomon Islands', 'SO': 'Somalia', 'ZA': 'South Africa', 'GS': 'South Georgia and the South Sandwich Islands', 'SS': 'South Sudan', 'ES': 'Spain', 'LK': 'Sri Lanka', 'SD': 'Sudan ', 'SR': 'Suriname', 'SJ': 'Svalbard and Jan Mayen', 'SE': 'Sweden', 'CH': 'Switzerland', 'SY': 'Syria', 'TW': 'Taiwan', 'TJ': 'Tajikistan', 'TZ': 'Tanzania', 'TH': 'Thailand', 'TL': 'Timor-Leste ', 'TG': 'Togo', 'TK': 'Tokelau', 'TO': 'Tonga', 'TT': 'Trinidad and Tobago', 'TN': 'Tunisia', 'TR': 'Turkey', 'TM': 'Turkmenistan', 'TC': 'Turks and Caicos Islands ', 'TV': 'Tuvalu', 'UG': 'Uganda', 'UA': 'Ukraine', 'AE': 'United Arab Emirates ', 'GB': 'United Kingdom', 'UM': 'United States Minor Outlying Islands', 'US': 'United States of America ', 'UY': 'Uruguay', 'UZ': 'Uzbekistan', 'VU': 'Vanuatu', 'VE': 'Venezuela', 'VN': 'Vietnam', 'VG': 'British Virgin Islands', 'VI': 'United States Virgin Islands', 'WF': 'Wallis and Futuna', 'EH': 'Western Sahara ', 'YE': 'Yemen', 'ZM': 'Zambia', 'ZW': 'Zimbabwe'}

In [29]:
hotel_df=hotel_df.replace({"Country": country_dict})

In [30]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name,Max Temp (Kelvin)
0,Hilo,United States of America,26.85,19.7297,-155.0900,Hilo Hawaiian Hotel,300.00
3,Rikitea,French Polynesia,25.49,-23.1203,-134.9692,People ThankYou,298.64
5,Japura,Indonesia,22.98,-0.3167,102.3500,Rumah mbah Jamah,296.13
6,Palu,Indonesia,23.55,-0.8917,119.8707,Hotel Santika Palu,296.70
8,Cape Town,South Africa,26.26,-33.9258,18.4232,Southern Sun Waterfront Cape Town,299.41
...,...,...,...,...,...,...,...
558,Comodoro Rivadavia,Argentina,22.92,-45.8667,-67.5000,Austral Hotel,296.07
560,Brownwood,United States of America,23.62,31.7093,-98.9912,La Quinta Inn & Suites by Wyndham Brownwood,296.77
561,Soto La Marina,Mexico,28.21,23.7667,-98.2167,Hotel Chicago,301.36
565,Huarmey,Peru,23.44,-10.0681,-78.1522,Hotel Miramar,296.59
568,Vicksburg,United States of America,21.82,32.3526,-90.8779,La Quinta Inn & Suites by Wyndham Vicksburg,294.97

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °C</dd>
</dl>
"""

In [32]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp (Kelvin)"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))