#### Vacation_Itinerary
#### Colin Brineman, M.A.

# Import vacation data

In [1]:
# Import dependencies
import pandas as pd
import requests
import gmaps
import gmaps.datasets
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# Load vacation data csv as DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Port Elizabeth,ZA,22.28,broken clouds,-33.9180,25.5701,39 On Nile Guest House
1,4,Rikitea,PF,25.14,scattered clouds,-23.1203,-134.9692,People ThankYou
2,5,Bambous Virieux,MU,25.68,broken clouds,-20.3428,57.7575,Casa Tia Villa
3,6,Kavieng,PG,27.63,light rain,-2.5744,150.7967,Nusa Island Retreat
4,7,Lazaro Cardenas,MX,27.96,few clouds,17.9583,-102.2000,quinta antigua

# Create vacation map

In [3]:
#  Create info box template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°C</dd>
</dl>
"""

# Iterate over vacation data to create list of hotel info to pass to info box content
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get latitude and longitude from each row of vacation data and store in a new DataFrame
locations = vacation_df[["Lat", "Lng"]]

# Generate map with hotel markers
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call map figure
fig

Figure(layout=FigureLayout(height='420px'))

# Creation itinerary directions map

In [4]:
# Create DataFrame for each itinerary city
vacation_start = vacation_df.loc[vacation_df["City"]=="Dunedin"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Dunedin"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Kaitangata"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Tuatapere"]
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Wanaka"]

In [5]:
# Store itinerary city latitude/longitude pairs as tuples
start = vacation_start.to_numpy()[0,(5,6)]
end = vacation_end.to_numpy()[0,(5,6)]
stop1 = vacation_stop1.to_numpy()[0,(5,6)]
stop2 = vacation_stop2.to_numpy()[0,(5,6)]
stop3 = vacation_stop3.to_numpy()[0,(5,6)]

In [6]:
# Generate map with directions to itinerary cities
fig = gmaps.figure()
new_zealand_vacation = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='BICYCLING')
fig.add_layer(new_zealand_vacation)

# Call map figure
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Combine itinerary city DataFrames
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)

# Inspect itinerary DataFrame
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,316,Dunedin,NZ,20.45,overcast clouds,-45.8742,170.5036,Scenic Hotel Southern Cross
1,316,Dunedin,NZ,20.45,overcast clouds,-45.8742,170.5036,Scenic Hotel Southern Cross
2,158,Kaitangata,NZ,20.36,overcast clouds,-46.2817,169.8464,Kaitangata Motor Camp
3,107,Tuatapere,NZ,20.33,overcast clouds,-46.1333,167.6833,Ron and Tony's Bed & Breakfast
4,535,Wanaka,NZ,20.06,overcast clouds,-44.7000,169.1500,Wanaka Homestead Lodge and Cottages

# Add markers to itinerary directions map

In [8]:
# Create info box template 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°C</dd>
</dl>
"""

# Iterate over itinerary data to create list of hotel info to pass to info box content
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get latitude and longitude from each row of vacation data and store in a new DataFrame
locations = itinerary_df[["Lat", "Lng"]]

# Generate itinerary directions map with markers
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call map figure
fig

Figure(layout=FigureLayout(height='420px'))